<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebAppProjects</title>
    <!--  Bootstrap CSS Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!--  Bootstrap JS Link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!-- Font Awasome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Navbar page CSS link -->
    <link rel="stylesheet" href="/WebAppProject/CSS/WebAppProj.css">
</head>

<body>
    <div class="container p-4 m-3 mw-100">
        <h3 class="text-center">Calculator</h3>
        <form id="fuelCostForm" method="post">
            {% csrf_token %}
            <div class="container-1 my-4">
                <label for="distance" class="form-label">Value 1:</label>
                <input type="number" name="num1" id="distance" class="form-control" required>
            </div>
            <label>Operator</label>
            <select name="op">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="/">/</option>
                <option value="*">*</option>
            </select>
            <div class="container-2 my-4">
                <label for="mileage" class="form-label">Value 2:</label>
                <input type="number" name="num2" id="mileage" step="0.01" class="form-control" required>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-primary btn-sm m-2">Calculate</button>
            </div>
            <label>Output</label>
            <input type="text" name="result" value="{{ s }}">
        </form>
      
        <div class="container-4 m-3">
            <div class="" id="result"></div>
        </div>
    </div>
</body>

</html>